.grid-web{
    display: grid;
    grid-template-columns: repeat(4,25%);
    width: 100%
}

.mainLayout{
    background: #F5F7F8;
}

.objectBack{
    background: white;
    border-radius: 16px;
    max-width: 775px;
    max-height: 401px;
}

.returnButton{
    border: 1px solid #006AF5;
    border-radius: 8px;
    color: black;
    width: 216px;
}

.textButton{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
}

.h1Title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    text-align: right;
}

.h2Title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
}

.deleteButton{
    color: red;
    border: 1px solid red;
    border-radius: 8px;
    width: 180px;
}

.spanLayout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.addMedicateButton{
    border: 1px solid #006AF5;
    border-radius: 8px;
    background: white;
    color: black;
}

.mainPageLayout{
    padding-left: 16px;
    padding-right: 64px;
    padding-top: 44px;
}

.statTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: 264px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #006AF5;
    border-radius: 8px;
}

.choose {
    background: blue;
}

